<div class= "container">
    <div class = "heading">
        <h1> Eat This Burger</h1>
        <h3><img src="/assets/img/Burger.png" alt= "burger" align="center"></h3>
    </div> 
<div class="row">

    <div class="col-lg-6 col-md-6 mx-auto">
        <h2>Try Me!</h2>
                {{#each burgers}} 
                {{#unless this.devoured}}
        
            <div class = "eat">
                {{this.burger_name}}

{{!-- <form action="/api/burgers/" + {{this.id}} method= "PUT">
<input input type="hidden" type="text" name="burger_id" value={{this.id}}><br> --}}
<button class="devour-btn" data-id={{this.id}}>devoured</button>
{{!-- </form> --}}


            </div>
                {{/unless}} 
                {{/each}}
    </div>

<script>
    document.addEventListener("click", async function(e) {
        if (e.target && (e.target.matches("button.devour-btn"))) {
            //Run the update function
            console.log(`shoud update burger ${e.target.getAttribute("data-id")}`);
            await fetch("/api/burgers/data.id"=> {
                function data.id= (
                    
                )
 
            })




        }
    })
</script>    

    <div class="col-lg-6 col-md-6 mx-auto">
        <h2>Digest Me!</h2>

                {{#each burgers}} 
                {{#if this.devoured}}
    <div class = "eat">
                {{this.burger_name}}
                
        </div>
                {{/if}} 
                {{/each}}
        </div>
</div>

        <div class="row">
            <div class="add">
                {{> add-burger}}
            </div>
        </div>

</div>
